@font-face {
  font-family: "Estilo";
  src: url("..src/styles/fonts/Estilo Regular.ttf") format("ttf"),
    url("..src/styles/fonts/Estilo Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
